.header-div a {
    width: 100px;
    height: 100px;
    display: inline;
  }

  .header-div img {
    width: 100%;
    height: 100%;
  }

  .header-div h1, .header-div a, .header-div li, .header-div li > form {
    display: inline;
    margin-top: 10px;
  }

  .header-div button{
    padding: 10px;
    width: 75px;
    border: 2px solid gold;
    color: gold;
    background-color: #fff;
  }

  .header-div { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 785px) {
    .header-div{
      justify-content: center;
      align-items: center;
    }
    }