 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 541px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  margin: 144px 14px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 431px;
}

.u-section-1 .u-container-layout-2 {
  padding: 13px 17px;
}

.u-section-1 .u-image-1 {
  width: 390px;
  height: 390px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("../images/Tahfeez.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 355px;
  }

  .u-section-1 .u-image-1 {
    width: 131px;
    height: 131px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-1 .u-image-1 {
    width: 91px;
    height: 91px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1113px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 701px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 362px;
}

.u-section-2 .u-text-1 {
  line-height: 1.6;
  margin: 67px 0;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 704px;
}

.u-section-3 .u-group-1 {
  width: 827px;
  min-height: 584px;
  background-image: none;
  margin: 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 200;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-3 .u-form-1 {
  height: 427px;
  width: 703px;
  margin: 14px auto 0;
}

.u-section-3 .u-label-1 {
  font-weight: 700;
}

.u-section-3 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-3 .u-label-2 {
  font-weight: 700;
}

.u-section-3 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-label-3 {
  font-weight: 700;
}

.u-section-3 .u-input-3 {
  font-size: 1.25rem;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-label-4 {
  font-weight: 700;
}

.u-section-3 .u-input-4 {
  font-size: 1.25rem;
}

.u-section-3 .u-form-group-5 {
  margin-left: 0;
}

.u-section-3 .u-label-5 {
  font-weight: 700;
}

.u-section-3 .u-input-5 {
  font-size: 1.25rem;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-form-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-form-1 {
    width: 320px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1159px;
}

.u-section-4 .u-table-1 {
  width: 743px;
  margin: 66px auto 0;
}

.u-block-df77-4 {
  background-image: none;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-3 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-5 {
  background-image: none;
}

.u-section-4 .u-table-cell-6 {
  background-image: none;
}

.u-section-4 .u-table-cell-7 {
  background-image: none;
}

.u-section-4 .u-table-cell-8 {
  background-image: none;
}

.u-section-4 .u-table-cell-9 {
  background-image: none;
}

.u-section-4 .u-table-cell-13 {
  background-image: none;
}

.u-section-4 .u-table-cell-17 {
  background-image: none;
}

.u-section-4 .u-table-cell-21 {
  background-image: none;
}

.u-block-df77-31 {
  background-image: none;
}

.u-section-4 .u-table-2 {
  width: 743px;
  margin: 52px auto 0;
}

.u-block-df77-42 {
  background-image: none;
}

.u-section-4 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-27 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-29 {
  background-image: none;
}

.u-section-4 .u-table-cell-30 {
  background-image: none;
}

.u-section-4 .u-table-cell-31 {
  background-image: none;
}

.u-section-4 .u-table-cell-32 {
  background-image: none;
}

.u-section-4 .u-table-cell-33 {
  background-image: none;
}

.u-section-4 .u-table-cell-37 {
  background-image: none;
}

.u-section-4 .u-table-cell-41 {
  background-image: none;
}

.u-section-4 .u-table-cell-45 {
  background-image: none;
}

.u-block-df77-73 {
  background-image: none;
}

.u-section-4 .u-table-3 {
  width: 743px;
  margin: 60px auto 58px;
}

.u-block-df77-80 {
  background-image: none;
}

.u-section-4 .u-table-header-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-51 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-53 {
  background-image: none;
}

.u-section-4 .u-table-cell-54 {
  background-image: none;
}

.u-section-4 .u-table-cell-55 {
  background-image: none;
}

.u-section-4 .u-table-cell-56 {
  background-image: none;
}

.u-section-4 .u-table-cell-57 {
  background-image: none;
}

.u-section-4 .u-table-cell-61 {
  background-image: none;
}

.u-section-4 .u-table-cell-65 {
  background-image: none;
}

.u-section-4 .u-table-cell-69 {
  background-image: none;
}

.u-block-df77-111 {
  background-image: none;
}

@media (max-width: 991px) {
  .u-section-4 .u-table-1 {
    width: 720px;
  }

  .u-section-4 .u-table-2 {
    width: 720px;
  }

  .u-section-4 .u-table-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-table-1 {
    width: 540px;
  }

  .u-section-4 .u-table-2 {
    width: 540px;
  }

  .u-section-4 .u-table-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-table-1 {
    width: 340px;
  }

  .u-section-4 .u-table-2 {
    width: 340px;
  }

  .u-section-4 .u-table-3 {
    width: 340px;
  }
}